/* --- Mobile Responsive Rules --- */
@media (max-width: 768px) {
  /* ---------------------------------- Sidebar and topar styling-----start */
  #sidebar {
    left: -260px;
  }
  #sidebar.mobile-show {
    left: 0;
    width: 312px;
  }
  #main-wrapper,
  #main-wrapper.expanded {
    margin-left: 0;
    width: 100%;
    padding-top: calc(var(--topbar-height) + 120px);
  }
  .collapsed .logo-img {
    display: block !important;
  }
  #toggle-sidebar-desktop {
    display: none;
  }
  .mobile-hamburger-btn {
    display: block;
  }
  .top-navbar {
    background-color: var(--color-bg-card);
    color: var(--color-text-main);
    border-bottom: 1px solid var(--color-border);
    left: 0;
    width: 100%;
  }

  .mobile-logo {
    color: var(--color-text-main);
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }
  .institute-selector-container,
  .top-icon-btn.bi-wallet2,
  .top-icon-btn.bi-gear,
  .top-icon-btn.bi-question-circle {
    display: none;
  }
  .mobile-institute-bar {
    display: block;
  }
  .top-icon-btn.bi-bell {
    color: var(--color-primary);

    font-size: 1.1rem;
  }

  /* page header css */
  .ph-header {
    position: fixed;
    top: var(--topbar-height);
    left: 0;
    width: 100%;
    z-index: 998;
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
    padding: 15px;
    gap: 15px;
  }

  .ph-actions {
    width: 100%;
    justify-content: flex-end; /* Tools on right */
  }

  /* Make search sit on the left of actions or absolute */
  .ph-search-container {
    margin-right: auto; /* Pushes other icons to right */
  }

  /* When Active on Mobile: Full Width Overlay */
  .ph-search-container.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: var(--color-bg-card);
    padding: 10px;
    align-items: center;
  }

  .ph-search-container.active .ph-search-wrapper {
    width: 100%;
    height: 45px;
    border-radius: 8px;
  }

  .ph-search-container.active .ph-search-input {
    width: 100%; /* Full width on mobile */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* page header css end  */

/* ---------------------------------- Sidebar and topar styling-----End */
